<h1>
	<%= @article.title %>, <%=@article.created_at.strftime('%d %m %Y') %>
</h1>

<p><%= @article.body %></p>

<%= link_to('home page', articles_path)%>

<%= link_to('edit', edit_article_path(params[:id]))%>

<h2>
	comments
</h2>

<ul><% @article.comments.each do | comment | %>
	<li>
	<%= comment.body%>
	<i> Commented <%= time_ago_in_words comment.created_at%> ago </i>
	</li>
<%end%>
</ul>


<%= form_for [@article, Comment.new] do |f| %>
  <%= f.label :body%>
  <%= f.text_field :body%>

  <%= f.submit%>
<%end%>

<style>
	i {
		font-size: 12px;
		color: gray;
	}
</style>